/* body content styling */

.section-one{
  /* background: lime; */
}

.section-one > .section-one-img-cont{
  min-width: 50%;
  height: 400px;
  background-image: url(https://picsum.photos/1280/720);
  background-size: cover;
}

.section-one > span{
  color: var(--white);
  font-size: 3.6rem;

  white-space: nowrap;

  /* background: red; */
  width: 50%;
}

.section-one > span > a{
  text-decoration: underline;
}



/*responsive section one component*/
@media screen and (max-width: 1345px){ /*line break happens to the caption at any higher value*/
    .section-one{
      flex-direction: column;
      /* background: lime; */
    }
    .section-one > span{
      height: 400px;
      width: 100% !important;
  
      padding: 200px 0;
  
      /* background: lime; */
  
      font-size: max(4vw, 1.2rem) !important;
    }
  
    .section-one-img-cont{
      width: 100% !important;
      height: 400px !important;
      background: lime;
    }
  }